@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight");
.background {
  width: 100%;
  height: 100%; }
  .background .bgSection {
    position: relative;
    margin: 0 auto; }
  .background .bg {
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
    position: relative; }
  .background .bookBtn {
    position: absolute;
    top: 4%;
    right: 2%;
    color: #22438a;
    background: white;
    padding: 10px 45px 10px 45px;
    filter: drop-shadow(0x0 0 5px black);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    opacity: 0.8; }
  .background .bookBtn:hover {
    color: #fff;
    background: #ff9801;
    opacity: 1; }
  .background .bgText {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    filter: drop-shadow(5px 5px 15px black); }
    .background .bgText .bgTitle {
      color: white;
      font-size: 85px; }
    .background .bgText .bgP {
      color: white;
      font-size: 35px;
      filter: drop-shadow(5px 5px 15px black);
      font-weight: 500; }
      .background .bgText .bgP span {
        color: #ff9801; }
  .background .navContainer {
    text-align: center;
    position: absolute;
    top: 750px;
    left: 0%;
    right: 0%;
    filter: drop-shadow(0 3px 20px gray);
    max-width: 80%; }
    .background .navContainer a {
      list-style: none;
      color: #22438a;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600; }
    .background .navContainer li {
      background: #fff;
      height: 110px;
      display: inline-block;
      padding-top: 40px;
      width: 220px;
      box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2); }
    .background .navContainer a:hover {
      color: #ff9801; }
  @media only screen and (max-width: 1200px) {
    .background .bg {
      height: 600px; }
    .background .bgText {
      top: 30%; }
    .background .bgTitle {
      font-size: 75px !important; }
    .background .navContainer {
      top: 545px; } }
  @media only screen and (max-width: 930px) {
    .background .bg {
      height: 600px; }
    .background .navContainer {
      display: none; } }
  @media only screen and (max-width: 730px) {
    .background .bg {
      height: 350px; }
    .background .navContainer {
      display: none; } }
  @media only screen and (max-width: 588px) {
    .background .bookBtn {
      top: 400px;
      width: 100%;
      text-align: center;
      background: #22438a;
      color: #fff; }
    .background .bgText {
      top: 20%; } }
  @media only screen and (max-width: 455px) {
    .background .bgP {
      font-size: 5.5vw !important; } }

.wrapperOverview {
  width: 100%;
  height: 700px;
  background: #fff;
  position: relative; }
  .wrapperOverview .overviewText {
    font-size: 280px;
    position: absolute;
    font-weight: 700;
    opacity: 0.4;
    width: 100%;
    text-align: center;
    top: 3%;
    color: lightgray; }
  .wrapperOverview .containerP {
    position: relative;
    top: 48%;
    width: 800px; }
  @media only screen and (max-width: 1464px) {
    .wrapperOverview .overviewText {
      font-size: 200px; }
    .wrapperOverview .containerP {
      top: 40%; } }
  @media only screen and (max-width: 1060px) {
    .wrapperOverview .overviewText {
      font-size: 15vw; }
    .wrapperOverview .containerP {
      top: 30%; } }
  @media only screen and (max-width: 626px) {
    .wrapperOverview .containerP {
      width: 100%;
      top: 15%; } }
  .wrapperOverview .overviewP {
    font-size: 20px;
    color: gray; }

.containerGallery {
  position: relative; }
  .containerGallery .gallery2 {
    position: relative; }
  .containerGallery .gallery3 {
    position: relative;
    margin-top: 7%; }
  @media only screen and (max-width: 767px) {
    .containerGallery .gallery2 {
      margin-top: 40px; }
    .containerGallery .gallery3 {
      margin-top: 40px; } }
  @media only screen and (max-width: 459px) {
    .containerGallery .gallery1 {
      padding-top: 200px !important; } }

.specsWrapper {
  position: relative;
  width: 100%;
  height: 100vh; }
  .specsWrapper .grayBox {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    background: lightgray;
    opacity: 0.3; }
  .specsWrapper .specsBox {
    position: absolute;
    background: #fff;
    top: 25%;
    height: 50%;
    width: 100%;
    left: 1%;
    right: 1%;
    filter: drop-shadow(0 0 16px gray); }
  .specsWrapper .specTitle {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    color: #22438a;
    filter: drop-shadow(0 0 6px lightgray);
    top: 6%;
    font-weight: 600; }
  .specsWrapper .specP {
    font-family: "Raleway", sans-serif;
    color: gray;
    font-size: 23px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12%;
    font-weight: 500; }
  .specsWrapper .rowOne, .specsWrapper .rowTwo {
    margin: 80px 0 80px 0;
    color: gray;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);
    font-family: "Raleway", sans-serif;
    padding: 15px 0 15px 0; }
    .specsWrapper .rowOne h3, .specsWrapper .rowTwo h3 {
      font-size: 35px;
      opacity: 0.5; }
    .specsWrapper .rowOne p, .specsWrapper .rowTwo p {
      font-size: 15px;
      font-weight: 600; }
  @media only screen and (max-width: 767px) {
    .specsWrapper .specsBox {
      height: 110%;
      width: 100%; } }
  @media only screen and (max-width: 430px) {
    .specsWrapper .specTitle {
      font-size: 10vw; } }

.amenitiesWrapper {
  position: relative;
  width: 100%;
  height: 100vh; }
  .amenitiesWrapper .amenitiesTitle {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    color: #ff9801;
    top: 6%;
    font-weight: 600; }
  .amenitiesWrapper .amenitiesP {
    font-family: "Raleway", sans-serif;
    color: gray;
    font-size: 23px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12%;
    font-weight: 500; }
  .amenitiesWrapper .rowThree, .amenitiesWrapper .rowFour {
    margin: 80px 0 80px 0;
    color: gray;
    font-family: "Raleway", sans-serif;
    padding: 15px 0 15px 0; }
    .amenitiesWrapper .rowThree p, .amenitiesWrapper .rowFour p {
      font-size: 15px;
      font-weight: 600; }
  .amenitiesWrapper .amenitiesImg {
    margin-bottom: 25px; }
  @media only screen and (max-width: 767px) {
    .amenitiesWrapper .amenitiesTitle {
      margin-top: 400px; } }

.inquiryWrapper {
  width: 100%; }
  .inquiryWrapper .inquiryBanner {
    position: relative;
    height: 300px;
    width: 100%;
    background: #22438a; }
    .inquiryWrapper .inquiryBanner .inquiryTitle {
      position: absolute;
      font-family: "Raleway", sans-serif;
      color: #fff;
      font-size: 95px;
      width: 100%;
      text-align: center;
      top: 30%; }
  @media only screen and (max-width: 767px) {
    .inquiryWrapper .inquiryBanner {
      margin-top: 1100px; } }
  @media only screen and (max-width: 699px) {
    .inquiryWrapper .inquiryTitle {
      font-size: 13vw !important; } }
  @media only screen and (max-width: 506px) {
    .inquiryWrapper .inquiryTitle {
      font-size: 16vw !important;
      top: 26% !important; } }

form {
  color: gray;
  padding: 30px; }
  form .messageBox {
    height: 100px; }
  form .formSubmitBtn {
    color: #22438a;
    background: #fff;
    padding: 10px 45px 10px 45px;
    font-weight: 600;
    border: 2px solid #22438a; }
  form .formSubmitBtn:hover {
    color: orange;
    border: 2px solid #ff9801; }

.bookBtnTwo {
  position: absolute;
  width: 100%;
  left: 0%;
  background: #ff9801;
  color: #fff;
  font-size: 30px;
  font-family: "Raleway", sans-serif; }

.bookBtnTwo:hover {
  background: #22438a; }

.signature {
  width: 100%;
  text-align: center;
  opacity: 0.4; }
